boto3>=1.35.95
httpx>=0.28.1
huggingface-hub>=0.26.2
jq>=1.8.0
matplotlib>=3.10.0
opencv-python>=4.10.0.84
python-dotenv>=1.0.1
pyyaml>=6.0.2
requests>=2.32.3
tomli-w>=1.1.0
torch>=2.5.1
transformers>=4.46.3
uuid7>=0.1.0
